input, button {
    margin: 0.25em 0px;
    font-size: 16px;
}
input[type="number"] {
    width: 4em;
}
#mode, #start {
    font-size: 20px;
}
pre, textarea {
    margin: 0px;
    font: 16px Consolas, monospace;
    white-space: pre;
}
textarea {
    width: 50vw;
    height: 16em;
    margin: 0px 0px 0px 2em;
}