@font-face {
    font-family: "Noto Sans";
    font-weight: normal;
    font-style: normal;
    src: local("Noto Sans"), url(/res/NotoSans-Regular.woff2);
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans";
    font-weight: normal;
    font-style: italic;
    src: local("Noto Sans"), url(/res/NotoSans-Italic.woff2);
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans";
    font-weight: bold;
    font-style: normal;
    src: local("Noto Sans"), url(/res/NotoSans-Bold.woff2);
    font-display: swap;
}
@font-face {
    font-family: "Noto Sans";
    font-weight: bold;
    font-style: italic;
    src: local("Noto Sans"), url(/res/NotoSans-BoldItalic.woff2);
    font-display: swap;
}
html, body {
    margin: 0px;
    font: 20px "Noto Sans", sans-serif;
    word-wrap: break-word;
}
nav {
    width: 100%;
    padding: 0.5em 0.75em;
    border-bottom: 1px solid #000000;
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: #F0F0F0;
    box-sizing: border-box;
}
nav a {
    margin: 0em 0.5em;
}
nav a:first-child {
    margin-left: 0px;
}
nav a:last-child {
    margin-right: 0px;
}
section {
    margin: 8px;
}
header {
    font-size: 32px;
    line-height: 1.5em;
    font-weight: bold;
}
input, button {
    min-width: 1.5em;
    padding: 2.5px 5px;
    border: 2px solid #B0B0B0;
    border-radius: 4px;
    font-size: 20px;
}
input {
    font-family: Consolas, "Microsoft YaHei", sans-serif;
}
button {
    background-color: #EFEFEF;
}
button:hover {
    background-color: #FFFFFF;
}
textarea {
    width: calc(100% - 14px);
    height: 5em;
    padding: 2.5px 5px;
    border: 2px solid #B0B0B0;
    border-radius: 4px;
    margin: 8px 0px;
    display: block;
    font: 1em Consolas, "Microsoft YaHei", sans-serif;
}
#factorization header + p input {
    width: calc(100% - 2.5em - 30px);
    max-width: 800px;
    text-align: right;
}
#factorization input[readonly] {
    width: calc(100% - 14px);
}
#base-conversion .base {
    width: 3em;
    text-align: right;
}
#base-conversion .number {
    width: calc(100% - 7em - 28px);
    max-width: 800px;
    text-align: right;
}
#base-conversion .sequence {
    width: calc(100% - 3em - 14px);
    max-width: 1200px;
    line-height: 21px;
}
#swap {
    width: 40px;
}
#monadic-equation input[type="text"] {
    width: calc(100% - 14px);
    margin: 8px 0px;
    display: block;
}
a {
    color: #3498DB;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #0056B3;
}
a.selected {
    color: #000000;
}
code, .monospace {
    font-family: Consolas, "Microsoft YaHei", sans-serif;
}